@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.4;
}

.bg-button {
  background-image: url("../public/btn.png");
  width: 150px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

.container-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.istockphoto.com/id/1333010525/vector/simple-flat-pixel-art-illustration-of-cartoon-outdoor-landscape-background-pixel-arcade.jpg?s=612x612&w=0&k=20&c=uTGqB9fhmjzaNd17EGRHYU04_70K7a3M8ilRoJjDwtY=");
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 0;
}

.flower {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  z-index: 1;
  cursor: pointer;
  top: 42%;
}

.flower1 {
  background-image: url('../public/f1.png');
}

.flower2 {
  background-image: url('../public/f2.png');
}

.flower3 {
  background-image: url('../public/f3.png');
}

.flower:hover {
  transform: scale(1.02) rotate(-5deg);
}

.date {
  color: var(--color-amber-900);
  position: absolute;
  top: 81%;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: var(--color-amber-100);
}
